.layer_layout_testimonals {
	min-height: 300px;
}
.layer_layout_testimonals .content {
	min-height: 150px;
	max-height: 150px;
	padding: 15px 20px 30px 90px;
	background: #ebebeb;
	margin: 0 0 30px 0;
	position: relative; 
	font-style: italic;
	font-size: 13px;
	
}
.layer_layout_testimonals .content-inner {
	min-height: 150px;
	max-height: 150px;
	overflow: hidden;
}
.layer_layout_testimonals .content:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -18px;
	width: 0;
	height: 0;
	border-top: 19px solid #ebebeb;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	left: 18%;
}
.layer_layout_testimonals .content:before {
	content: "\201d";
	display: block;
	font-size: 700%;
	position: absolute;
	top: 19px;
	left: 20px;
	height: 50px;
	width: 50px;
	line-height: 121px;
}
.layer_layout_testimonals .title {
	font: 14px Arial;
	padding: 0 0 0 10px;
}
.layer_layout_testimonals .image {
	float: left;
}
.layer_layout_testimonals .content p {
	margin-bottom: 10px;
}
