.flexslider .slides > li {
	position: relative;
}
.flex-caption {
	width: 96%;
	padding: 2%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	font-size: 14px;
	line-height: 18px;
	margin: 0;
}